@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\000033}}
.sweet-alert {
  margin-left: -235px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\000036}}
.grid figcaption {
  background: #222222 !important;
  color: #ffffff;
  padding-bottom: 5px !important;
  height: 90px !important; }
  @media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\000036}}
    .grid figcaption {
      text-align: center;
      height: 60px !important; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000315}}
  .grid figcaption h4 {
    color: #ffffff;
    margin-bottom: 4px;
    font-size: 1.3rem; }
    @media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000315}}
      .grid figcaption h4 {
        margin-top: -15px;
        margin-bottom: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000324}}
  .grid figcaption span {
    color: #727272; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000328}}
.rows {
  padding-top: 50px;
  padding-bottom: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000332}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000335}}
.custom-button:not(.contact-button) {
  visibility: hidden; }
  @media screen and (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000335}}
    .custom-button:not(.contact-button) {
      visibility: visible;
      display: inline-block;
      font-family: "Open Sans", sans-serif !important;
      font-size: 0.9em;
      font-weight: 300 !important;
      background: transparent !important;
      border: 2px solid #ffffff !important;
      border-radius: 3px !important;
      padding: 8px 20px;
      transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000347}}
      .custom-button:not(.contact-button):hover {
        background-color: #329e3d !important;
        border-color: #329e3d !important; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000355}}
.custom-button2 {
  visibility: visible;
  display: inline-block;
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.9em;
  font-weight: 300 !important;
  background: transparent !important;
  border: 2px solid #222222 !important;
  border-radius: 3px !important;
  padding: 8px 20px;
  transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000366}}
  .custom-button2:hover {
    background-color: #329e3d !important;
    border-color: #329e3d !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000367}}
    .custom-button2:hover h6 {
      color: #ffffff !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000374}}
.custom-button3 {
  visibility: visible;
  display: inline-block;
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.9em;
  font-weight: 300 !important;
  background: transparent !important;
  border: 2px solid #ffffff !important;
  border-radius: 3px !important;
  padding: 8px 20px;
  transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000385}}
  .custom-button3:hover {
    background-color: #329e3d !important;
    border-color: #329e3d !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000386}}
    .custom-button3:hover h6 {
      color: #ffffff !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000394}}
footer {
  position: relative !important;
  padding: 15px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\0000397}}
  footer h5 {
    color: #727272;
    font-size: 0.9em;
    font-weight: 300;
    font-family: "Open Sans", sans-serif !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003105}}
.sticky-nav, footer {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003111}}
  .sticky-nav ul, footer ul {
    padding-top: 30px;
    padding-bottom: 37px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003115}}
  .sticky-nav li, footer li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003120}}
  .sticky-nav a:not(.logo), footer a:not(.logo) {
    color: #727272;
    font-family: "Open Sans", sans-serif;
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003124}}
    .sticky-nav a:not(.logo):hover, footer a:not(.logo):hover {
      border-bottom: #329e3d 3px solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003130}}
  .sticky-nav img, footer img {
    max-height: 50px;
    margin-top: -12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003135}}
.header {
  background-size: cover;
  width: 100%;
  padding-top: 105px;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003140}}
  .header .header-content {
    text-align: center;
    position: fixed;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003146}}
  .header .header-text .title {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003150}}
  .header .header-text .title-large {
    font-size: 4em;
    padding: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003154}}
  .header .header-text .title-medium {
    font-size: 3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003157}}
  .header .header-text .top {
    color: #727272;
    font-size: 1.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003161}}
  .header .header-text .under {
    color: #727272;
    font-size: 1.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003167}}
.current {
  color: #329e3d !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003170}}
.shadow {
  -webkit-box-shadow: 1px 1px 1px #727272 !important;
  box-shadow: 1px 1px 1px #727272 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003174}}
.slicknav_menu {
  display: none;
  background: #ffffff !important;
  opacity: 0.95 !important;
  padding: 0px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003179}}
  .slicknav_menu .slicknav_btn {
    background-color: transparent !important;
    font-size: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003183}}
  .slicknav_menu .slicknav_icon-bar {
    background-color: #222222 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003188}}
  .slicknav_menu img {
    max-height: 35px;
    margin: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003193}}
.slicknav_nav {
  text-align: center;
  border-top: #727272 solid 1px;
  background: #ebebeb !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003197}}
  .slicknav_nav a {
    margin: 0px !important;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    color: #222222 !important;
    border-bottom: #727272 1px solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003203}}
    .slicknav_nav a:hover {
      background: #329e3d !important;
      webkit-border-radius: 0px !important;
      border-radius: 0px !important;
      color: #ffffff !important; }

@media screen and (max-width: 644px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003214}}
  .js #menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003217}}
  .logo {
    display: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003220}}
  .js .slicknav_menu {
    display: inline; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003224}}
.contact-me {
  background: url("../images/home-contact.png") center;
  background-size: cover;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003228}}
  .contact-me .large-centered {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003231}}
  .contact-me .contact-title {
    padding-top: 30px;
    padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003234}}
    .contact-me .contact-title h3 {
      color: #ffffff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003238}}
  .contact-me .contact-button {
    margin-bottom: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003241}}
  .contact-me h6 {
    color: #ffffff;
    margin: 0;
    font-size: 0.9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003247}}
.arrow {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 74px;
  height: 36px;
  background: url("../images/home-arrow.png") center 36px;
  background-size: cover;
  margin-top: -36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003256}}
  .arrow span {
    display: block;
    width: 74px;
    height: 36px;
    background: url("../images/home-arrow.png") center -1px;
    background-size: cover;
    opacity: 0;
    transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/jungchangME\/kech17\.github\.io\/resources\/css\/common\.scss}line{font-family:\00003264}}
    .arrow span:hover {
      opacity: 1; }

/*# sourceMappingURL=common.css.map */
