$grey:		#f5f5f5;
$medgrey:	#dcdcdc;
$darkgrey:  #727272;
$white:		#ffffff;
$dark:		#222222;
$black:		#000000;
$green:		#329e3d;
$lightgreen: #41cc4f;
$red:		#ff0000;

$open:		'Open Sans', sans-serif;
$mont: 		'Montserrat', sans-serif;